<div class="drawer drawer-end">
  <input id="search-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-side z-10">
    <label for="search-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">

      <input
        [formControl]="searchControl"
        id="searchbar"
        type="text"
        class="input input-bordered w-full max-w-xs mb-2"
        placeholder="Rechercher..."/>

      <ng-container *ngIf="searchControl.value.length > 0">
        <h6 *ngIf="searchResults.length == 0">Aucun resultat</h6>
        <li *ngFor="let livre of searchResults" class="list-group-item list-group-item-action">
          <a [routerLink]="'book/'+livre.id">
            <div class="flex flex-col">
              <p class="w-full" [innerHTML]="livre.titre | bold:searchControl.value"></p>
              <p class="w-full italic author text-slate-500" [innerHTML]="livre.auteur.getDisplayName() | bold:searchControl.value"></p>
            </div>
          </a>
        </li>
        <small class="italic">Le livre recherché n'est pas encore référencé ? Dans ce cas on peut <a class="link" routerLink="/book/new">l'ajouter ici</a></small>
      </ng-container>

    </ul>
  </div>
</div>
