<app-spinner [loading]="livre">
  <div class="relative" *ngIf="livre">
    <svg *ngIf="livre.lu" class="fill-base-300 static" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="305.002px" height="305.002px" viewBox="0 0 305.002 305.002"
         xml:space="preserve">
      <g>
        <g>
          <path d="M152.502,0.001C68.412,0.001,0,68.412,0,152.501s68.412,152.5,152.502,152.5c84.089,0,152.5-68.411,152.5-152.5
            S236.591,0.001,152.502,0.001z M152.502,280.001C82.197,280.001,25,222.806,25,152.501c0-70.304,57.197-127.5,127.502-127.5
            c70.304,0,127.5,57.196,127.5,127.5C280.002,222.806,222.806,280.001,152.502,280.001z"/>
          <path d="M218.473,93.97l-90.546,90.547l-41.398-41.398c-4.882-4.881-12.796-4.881-17.678,0c-4.881,4.882-4.881,12.796,0,17.678
            l50.237,50.237c2.441,2.44,5.64,3.661,8.839,3.661c3.199,0,6.398-1.221,8.839-3.661l99.385-99.385
            c4.881-4.882,4.881-12.796,0-17.678C231.269,89.089,223.354,89.089,218.473,93.97z"/>
        </g>
      </g>
    </svg>

    <div class="absolute top-0 space-y-3">
      <h1 class="text-4xl">{{ livre.titre }}</h1>
      <app-badge class="mx-1 ms-0" *ngFor="let tag of livre.tags" [icon]="tag.icon" [color]="tag.color">{{ tag.label }}
      </app-badge>
      <p>écrit par <span class="font-bold">{{ livre.auteur.getDisplayName() }}</span> <br/>
        sorti aux éditions <span class="font-bold">{{ livre.edition }}</span>.</p>
      <p>Il a couté <span class="font-bold">{{ livre.prix  | number : '1.2-2' }}€</span> à <span
        class="font-bold">{{ livre.getOwners() }}</span>.</p>
      <p *ngIf="livre.pret">Il est actuellement prété à quelqu'un.</p>

      <div class="flex space-x-1 items-center">
        <input class="toggle toggle-sm" type="checkbox" [checked]=livre.lu (click)="read(lu.checked)"
               id="flexSwitchCheckDefault" #lu>
        <label class="form-check-label" for="flexSwitchCheckDefault">Lu</label>
      </div>

      <div *ngIf="currentUser" class="mb-1">
        <button-icon *ngIf="!livre.ownedBy(currentUser)" [icon]="faPlus" [classes]="['btn-secondary']"
                     (onClick)="addToBookshelf()">Ajouter à ma bibliothèque
        </button-icon>
        <button-icon *ngIf="livre.ownedBy(currentUser)" [icon]="faMinus" [classes]="['btn-outline', 'btn-secondary']"
                     (onClick)="removeFromBookshelf()">Retirer de ma bibliothèque
        </button-icon>
      </div>
      <div class="join">
        <button-icon [icon]="faEdit" [classes]="['btn-primary', 'join-item']" [routerLink]="'./edit'">Modifier</button-icon>
        <button-icon [icon]="faTrash" [classes]="['btn-error', 'join-item']" onclick="deleteModal.showModal()">Supprimer</button-icon>
      </div>
    </div>
  </div>
</app-spinner>

<dialog id="deleteModal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirmation avant suppression</h3>
    <p class="py-4">Êtes vous sur de vouloir supprimer <span class="font-bold">{{ livre?.titre }}</span> de la bibliothèque ?</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn" onclick="deleteModal.close()">Annuler</button>
        <button class="btn btn-error" (click)="delete()">Confirmer</button>
      </form>
    </div>
  </div>
</dialog>
