<h1 class="text-4xl mb-3">{{pageTitle}}</h1>

<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Erreur lors de l'inscription</h4>
  {{errorMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form (ngSubmit)="sendForm()" class="col-md-6" [formGroup]="form">
  <h3>Je crée mon compte</h3>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="identifiant" placeholder=" " name="identifiant" formControlName="identifiant">
    <label for="identifiant">Identifiant</label>
    <div *ngIf="form.get('identifiant').getError('required')" class="invalid-feedback">Champ requis</div>
  </div>

  <div class="form-floating  mb-1">
    <input type="password" class="form-control" id="password" placeholder=" " name="password" formControlName="password">
    <label for="password">Mot de passe</label>
    <div *ngIf="form.get('password').getError('required')" class="invalid-feedback">Champ requis</div>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmPassword" placeholder=" " name="confirmPassword" formControlName="confirmPassword">
    <label for="confirmPassword">Confirmer le mot de passe</label>
    <div *ngIf="form.get('confirmPassword').getError('required')" class="invalid-feedback">Champ requis</div>
    <div *ngIf="form.getError('notSame')" class="invalid-feedback">Les mots de passes ne correspondent pas</div>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="displayName" placeholder="Mon prénom" name="displayName" formControlName="displayName">
    <label for="displayName">Prénom</label>
    <div *ngIf="form.get('displayName').getError('required')" class="invalid-feedback">Champ requis</div>
  </div>


  <h3 class="mb-0">Je crée ma bibliothèque</h3>
  <div class="form-text mb-3 mt-0">On ajoutera des livres dedans juste après</div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="bibliothequeName" placeholder="Ma super bibliothèque" name="bibliothequeName" formControlName="bibliothequeName">
    <label for="bibliothequeName">Nom de la bibliothèque</label>
    <div *ngIf="form.get('bibliothequeName').getError('required')" class="invalid-feedback">Champ requis</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Créer mon compte</button>
</form>
