<ng-template #content><ng-content></ng-content></ng-template>

<div *ngIf="loading">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
<ng-container *ngIf="!loading">
  <span class="loading loading-spinner"></span>
</ng-container>
