<div class="hero min-h-screen ">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-9xl font-bold">404</h1>
      <p class="py-6">The page you requested was not found.</p>
    </div>
  </div>
</div>
