<div *ngIf="logged" class="navbar bg-base-200">
  <div class="navbar-start">

    <details class="dropdown" #dropdown>
      <summary tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </summary>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[2] p-2 shadow bg-base-300 rounded-box w-52">
        <li><a class="nav-link" routerLink="/"><fa-icon [icon]="faBooks"></fa-icon> Bibliothèque</a></li>
        <li><label for="search-drawer" class="drawer-button"><fa-icon [icon]="faSearch"></fa-icon> Rechercher</label></li>
        <li><a class="nav-link" routerLink="/book/new"><fa-icon [icon]="faPlusSquare"></fa-icon> Ajouter un livre</a></li>
        <li>
          <details *ngIf="user">
            <summary><fa-icon [icon]="faUser"></fa-icon> {{user.displayName}}</summary>
            <ul class="p-2">
              <li><a routerLink="user/dashboard">Tableau de bord</a></li>
              <li><a (click)="logout()">Se déconnecter</a></li>
            </ul>
          </details>
        </li>
        <li (click)="toggleTheme()"><app-theme-toggle [showLabel]="true" ></app-theme-toggle></li>
      </ul>
    </details>

    <div class="avatar hidden lg:flex">
      <div class="w-10 rounded">
        <img ngSrc="/assets/img/icon.png" alt="bookshelf project icon" fill/>
      </div>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="nav-link" routerLink="/"><fa-icon [icon]="faBooks"></fa-icon> Bibliothèque</a></li>
        <li><label for="search-drawer" class="drawer-button"><fa-icon [icon]="faSearch"></fa-icon> Rechercher</label></li>
        <li><a class="nav-link" routerLink="/book/new"><fa-icon [icon]="faPlusSquare"></fa-icon> Ajouter un livre</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li (click)="toggleTheme()"><app-theme-toggle></app-theme-toggle></li>
      <li>
        <details *ngIf="user" class="dropdown dropdown-end">
          <summary><fa-icon [icon]="faUser"></fa-icon> {{user.displayName}}</summary>
          <ul class="dropdown-content p-2 bg-base-300">
            <li><a routerLink="user/dashboard">Tableau de bord</a></li>
            <li><a (click)="logout()">Se déconnecter</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

