<app-spinner [loading]="bookshelf">
  <div class="space-y-3" *ngIf="bookshelf">

    <h1 class="text-4xl">{{ bookshelf.nom }}</h1>

    @if (bookshelf.nbLivres == 0){
      <p>Hmm, c'est bien vide ici.</p>
      <p>Pour ajouter des livres, on peut les chercher dans la barre de recherche là haut.</p>
      <p>Si ils ne sont pas encore référencés, on peut aussi les <a routerLink="/book/new">ajouter</a>.</p>
    } @else if (bookshelf.nbLivres > 0){
      <div>
        <p>Avec {{ bookshelf.nbLivres }} livres, vous êtes culturellement plus riches...</p>
        <p *ngIf="logged">Cependant, vous êtes aussi plus pauvres de {{ bookshelf.totalPrice | number : '1.2-2' }}€ !
          :)</p>
        <p *ngIf="!logged">Cependant, vous êtes aussi plus pauvres du prix de tout ces livres ! :)</p>
      </div>
      <div class="flex gap-2">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-sm"><fa-icon [icon]="faFilter"/> Filtres</div>
          <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-[2] w-60 p-2 shadow">
            @for(filter of filters; track filter){
              <li><a (click)="toogleFilter(filter)"><input type="checkbox" [checked]="filter.selected" class="checkbox checkbox-xs" />{{ filter.name }}</a></li>
            }
          </ul>
        </div>
        @if (booklist.checkedBooks?.length > 0) {
          <div>
            Marquer les livres selectionnés comme
            <div class="join">
              <button [disabled]="updating" type="button" class="btn btn-sm join-item" (click)="markListAsLu(true)">
                lus
              </button>
              <button [disabled]="updating" type="button" class="btn btn-sm join-item" (click)="markListAsLu(false)">
                non-lus
              </button>
            </div>
            <span *ngIf="updating" class="loading loading-spinner loading-xs"></span>
          </div>
        }
      </div>
      <div>
        <app-booklist
          [livres]="filteredBooks"
          [checkboxes]="logged"
          [edit]="true"
          #booklist>
        </app-booklist>
      </div>
    }
  </div>
</app-spinner>
